<div id="cover"></div>
<div id="signin">
  <h1>Sign In</h1>
  <p class="label">Username</p>
  <input type="text" id="username">
  <br>
  <p class="label">Password</p>
  <input type="password" id="password">
  <br>
  <button id="login">Login</button>
  <button id="signup">Sign Up</button>
</div>
